<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="reset.css">
 <link rel="stylesheet" href="styles.css">
  <title>all product</title>
</head>

<body>
  <header>
    <a href="/">Home</a>
    <a href="/allProducts">All product</a>
    <a href="/myCard">My card</a>
  </header>

  <main>
    <% allProducts.forEach(product=>{ %>
      <section>
        <img src="<%= product.image%>" alt="<%= product.name %>">
        <h3>
          <%= product.name %>
        </h3>
        <h3>
          <%= product.price %>
        </h3>
        <p>
          <%= product.description %>
        </p>

        <form action="/saveToCard" method="post">

          <input type="hidden" name="name" value="<%= product.name %>">
          <input type="hidden" name="price" value="<%= product.price %>">
          <input type="hidden" name="description" value="<%= product.description %>">
          <input type="hidden" name="image" value="<%= product.image %>">

          <button type="submit">Add To my Card</button>
        </form>
      </section>


      <%}) %>
  </main>
</body>

</html>