<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="styles.css">
  <title>productByPrice</title>
</head>

<body>
  <header>
    <a href="/">Home</a>
    <a href="/allProducts">All product</a>
    <a href="/myCard">My card</a>
  </header>

  <main>
    <% productByPrice.forEach(product=>{ %>
      <img src="<%= product.image_link %>" alt="<%= product.name %>">
      <h3>
        <%= product.name %>
      </h3>
      <h3>
        <%= product.price %>
      </h3>
      <p>
        <%= product.description %>
      </p>
      <%}) %>
  </main>
</body>

</html>